=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a routerLink="home"><img src="assets/images/logo-alt.png" alt="footer-logo" /></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com"><i i-bs name="facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com"><i i-bs name="twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com"><i i-bs name="instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a routerLink="team">Teams</a></li>
              <li><a routerLink="blog">Blogs</a></li>
              <li><a routerLink="FAQ">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a routerLink="sign-up">Singup</a></li>
              <li><a routerLink="sign-in">Login</a></li>
              <li><a routerLink="blog">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a routerLink="career">Career</a></li>
              <li><a routerLink="contact">Contact</a></li>
              <li><a routerLink="team">Investor</a></li>
              <li><a routerLink="privacy">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a routerLink="about">About</a></li>
              <li><a routerLink="contact">Contact</a></li>
              <li><a routerLink="team">Team</a></li>
              <li><a routerLink="privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary"
      >Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      . Designed &amp; Developed by <a href="https://MathSusan.com/">MathSusan</a></small
    >
  </div>

  <div class="text-center bg-dark py-1">
    <small>
      <p>Distributed By <a href="https://MathSusan.com/">MathSusan</a></p></small
    >
  </div>
</footer>
