<app-hero-section></app-hero-section>
<section class="section pt-0 position-relative pull-top">
  <div class="container">
    <div class="rounded shadow p-5 bg-white">
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
          <i i-bs name="bucket-fill" class="text-primary h1"></i>
          <h3 class="mt-4 text-capitalize h5">palm trees made easy</h3>
          <p class="regular text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae tempore ipsam dignissimos
            molestias.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
          <i i-bs name="brightness-high-fill" class="text-primary h1"></i>
          <h3 class="mt-4 text-capitalize h5">powerful design</h3>
          <p class="regular text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae tempore ipsam dignissimos
            molestias.
          </p>
        </div>
        <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
          <i i-bs name="chat-fill" class="text-primary h1"></i>
          <h3 class="mt-4 text-capitalize h5">creative content</h3>
          <p class="regular text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam non, recusandae tempore ipsam dignissimos
            molestias.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-feature-section></app-feature-section>
<app-products></app-products>
<app-sales-pitch></app-sales-pitch>
<app-testimonials></app-testimonials>
