<section class="call-to-action-app section bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>It's time to change your mind</h2>
        <p>
          Download over 2 million humans .Get <a routerLink="/">Small Palm Trees</a> free forever! <br />We say you
          won’t look back.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a routerLink="/" class="btn btn-rounded-icon">
              <i i-bs name="apple"></i>
              Iphone
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/" class="btn btn-rounded-icon">
              <i i-bs name="android"></i>
              Android
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/" class="btn btn-rounded-icon">
              <i i-bs name="microsoft"></i>
              Windows
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
